/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 21, 2015, 10:31:12 AM
    Author     : dejan
*/
.pad10{padding:10px;}
.marg10{margin:10px;}
.right10{margin-right: 10px;}
.left10{margin-left:10px;}
.blue{background-color:#9999ff; }
.orange{background-color: #ff9966;}
.border_btm{border-bottom: #ff9966 1px solid;}
.border_grey{border-bottom: #cccccc 1px solid;}
p{white-space: pre-line;}
.row {
    margin-top:10px;
    margin-bottom:10px;
}
.black{background-color: #333333; color:#fff;}
#loginForm{
    min-height:110px;

}
#logoHeader{
    width:250px;
}
#logoutBtn{margin-top: 40px;}
#loggedUser{margin-top:10px;}
#headerBar{
    padding-bottom:10px;
    margin-bottom: 10px;
    border-bottom:#cccccc 1px solid;
}
.frame{padding:10px;}
.bordered {border:#ff9966 1px solid;}
.dash-info{padding:20px;}
.spacer{margin-bottom: 40px;}
.desc-box{min-height:200px;}
/*#projectSelectForm{
    margin-top:15px;
}*/
#projectSelectForm select{margin-left:10px;margin-bottom: 10px;}
#projectSelectForm .btn{margin-left:5px;margin-bottom: 10px;}
#projectSelectForm label{padding:5px;font-size:2em;font-weight:normal;line-height:2em; }
.btn-arrow{float:left;}