/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 21, 2015, 10:31:12 AM
    Author     : dejan
*/

/* COLORS AND BORDERS */

.blue{background-color:#9999ff; }
.orange{background-color: rgba(255,102,50,0.2);}
.black{background-color: #333333; color:#fff;}
.border_btm{border-bottom: #ff9966 1px solid;}
.border_grey{border-bottom: #cccccc 1px solid;}
.frame{padding:20px; }
.grey{background-color: rgba(160,160,160,0.2);}
.bordered {border:#ff9966 1px solid;}


/* SPACING */
.nav li{margin-right: 10px;}
.pad10{padding:10px;}
.marg10{margin:10px;}
.right10{margin-right: 10px;}
.left10{margin-left:10px;}
.left20{margin-left:20px;}
.top20{margin-top:20px;}
p{white-space: pre-line;}
.row {
}
#loginForm{
    padding:10px ;
    min-height:100px;
}
#logoHeader{
    width:250px;
}
#logoutBtn{margin-top: 40px;}
#loggedUser{margin-top:10px;}
#headerBar{
    padding:10px ;
    margin-bottom: 10px;
    border-bottom:#cccccc 1px solid;
}
.dash-info{padding:20px;}
.spacer{margin-bottom: 40px;}
.desc-box{min-height:200px;}
/*#projectSelectForm{
    margin-top:15px;
}*/
#projectSelectForm,#memberSelectForm {margin:30px 0 20px 0;}
#projectSelectForm select,#memberSelectForm select{margin-left:10px;}
#projectSelectForm .btn,#memberSelectForm .btn{margin-left:5px;}
#projectSelectForm label,#memberSelectForm label{font-size:1.6em;font-weight:normal;}
.btn-arrow{float:left;}

.table-colored tr:nth-child(even) {background: rgba(255,102,50,0.2)}
/* GRID TABLE STYLE: 
/* 1st COLUMN: */.table-grid td:first-child{width:12%;}
/* 2nd COLUMN: - project client*/
.table-grid td:nth-child(2){width:8%;}
/* 3rd COLUMN: - project status*/
.table-grid td:nth-child(3){width:10%;}
/* 4th COLUMN: - project start date*/
.table-grid td:nth-child(4){width:6%;}
/* 5th COLUMN: - project start date*/
.table-grid td:nth-child(5){width:6%;}
/* 6th COLUMN: - project start date*/
.table-grid td:nth-child(6){width:6%;}
.table-grid td:nth-child(7){width:6%;}

/* GRID-ARCHIVED TABLE STYLE: 
/* 1st COLUMN: */
.table-archived td:first-child{width:12%;}
/* 2nd COLUMN: - project client*/
.table-archived td:nth-child(2){width:10%;}
/* 3rd COLUMN: - project description*/
.table-archived td:nth-child(3){width:10%;}
/* 4th COLUMN: - project category*/
.table-archived td:nth-child(4){width:6%;}
/* 5th COLUMN: - project start date*/
.table-archived td:nth-child(5){width:6%;}
/* 6th COLUMN: - project end date*/
.table-archived td:nth-child(6){width:6%;}


.table-grey tr:nth-child(even) {background: rgba(160,160,160,0.2)}
.table-grid, .table-archived {width:100%;}
.table-grid td{height:30px;width:12%;}
.table-grid th{border-bottom: rgba(255,102,50,0.5) 2px solid;}
.table-grid td, th{padding: 5px;}
.table-archived {height:20px;}
.table-archived  th{border-bottom: #cccccc 2px solid;}
.table-archived  td, th{padding: 5px;}
.table-grey th, .table-archived th, .table-colored th, .table-grid th{font-size: 0.9em;}
.table-grey th, .table-archived th {font-weight: normal;}
.table-activity {width:100%;}
.table-activity td{height:30px;width:12%;border-bottom: rgba(160,160,160,0.2) 1px solid; }
.table-activity th{border-bottom: rgba(255,102,50,0.5) 1px solid;color:#666666; }
.table-activity td, th{padding: 5px;}
/* GRID ACTIVITY TABLE STYLE: 
/* 1st COLUMN: */
.table-activity td:first-child{width:90%;}
/* 2nd COLUMN: - project client*/
.table-activity td:nth-child(2){width:10%;}

/*.palette-available, .palette-selected, .palette-controls{padding:20px;}*/
/*.palette-available, .palette-selected{width:300px;}*/

.palette-title{padding:10px;}
.palette .form-control{height:120px;}
.palette-controls{padding:5% 5%;}
.palette {width:100%;}
.table-link {width:100%;display:block;padding:5px 0; }
.table-link:hover{text-decoration: none;font-weight: bold;}
.menu-link{display:block;width:100%;}
.glyph-icon{margin:0 12px;margin-top:2px;width:15px;}
/* For BeanDisplay */
/*frame*/
.row dl{float:left;}
/* whole row  */ 
.row dd {}
/* row content */
.row dl dd{padding-right: 200px; }  /* IE 7 hack */
/* row title */
.row dt{ margin-right:15px;}  /* IE 7 hack */
#assignedTable{margin-left:20px;}
#assignedTable tr{border-bottom: #cccccc 1px solid;}
#assignedTable td, #assignedTable th{padding:2px 0;}
#assignedTable td:first-child{}
#assignedTable th{color:#666666;}
/* details table */
#detailsTable{border-right:#999999 1px solid;}
/*first column */ 
#detailsTable tr td:first-child{width:30%;font-weight: bold;color:#666666;padding:2px 0;vertical-align: top}
/* second column */
